{% extends "layout.html" %}

{% block content %}

<div class="wrapper">
    <h1>
        As melhores receitas
    </h1>
    <p>
        Aprenda a construir os melhores pratos
        com receitas criadas por profissionais
        do mundo inteiro.
    </p>

    <img src="/chef.png" alt="chef">
</div>

<div class="cards_recipies">
    <h1>
        Mais acessadas
    </h1>

    <section class="cards">

        <div class="card">
            <div class="card_image-container">
                <img src="/burger.png" alt="Triplo bacon burger">
            </div>
            <div class="card-content">
                <p>Triplo bacon burger</p>
            </div>
            <div class="card_info">
                <p>por Jorge Relato</p>
            </div>
        </div>

        <div class="card">
            <div class="card_image-container">
                <img src="/pizza.png" alt="Triplo bacon burger">
            </div>
            <div class="card-content">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card_info">
                <p>por Fabiana Melo</p>
            </div>

        </div>

        <div class="card">
            <div class="card_image-container">
                <img src="/espaguete.png" alt="Triplo bacon burger">
            </div>
            <div class="card-content">
                <p>Espaguete ao alho</p>
            </div>
            <div class="card_info">
                <p>por Júlia Kinoto</p>
            </div>

        </div>

        <div class="card">
            <div class="card_image-container">
                <img src="/lasanha.png" alt="Triplo bacon burger">
            </div>
            <div class="card-content">
                <p>Lasanha mac n’ cheese</p>
            </div>
            <div class="card_info">
                <p>por Juliano Vieira</p>
            </div>

        </div>

        <div class="card">
            <div class="card_image-container">
                <img src="/doce.png" alt="Triplo bacon burger">
            </div>
            <div class="card-content">
                <p>Docinhos pão-do-céu</p>
            </div>
            <div class="card_info">
                <p>por Ricardo Golvea</p>
            </div>

        </div>

        <div class="card">
            <div class="card_image-container">
                <img src="/asinhas.png" alt="Triplo bacon burger">
            </div>
            <div class="card-content">
                <p>Asinhas de frango ao barbecue</p>
            </div>
            <div class="card_info">
                <p>por Vania Steroski</p>
            </div>

        </div>
    </section>
</div>
{% endblock %}