{% extends "layout.njk" %}

{% block content %}

        <div class="cards_recipies">

            <section class="cards">

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/burger.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Triplo bacon burger</p>
                    </div>
                    <div class="card_info">
                        <p>por Jorge Relato</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/pizza.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Pizza 4 estações</p>
                    </div>
                    <div class="card_info">
                        <p>por Fabiana Melo</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/espaguete.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Espaguete ao alho</p>
                    </div>
                    <div class="card_info">
                        <p>por Júlia Kinoto</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/lasanha.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Lasanha mac n’ cheese</p>
                    </div>
                    <div class="card_info">
                        <p>por Juliano Vieira</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/doce.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Docinhos pão-do-céu</p>
                    </div>
                    <div class="card_info">
                        <p>por Ricardo Golvea</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/asinhas.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Asinhas de frango ao barbecue</p>
                    </div>
                    <div class="card_info">
                        <p>por Vania Steroski</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/burger.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Triplo bacon burger</p>
                    </div>
                    <div class="card_info">
                        <p>por Jorge Relato</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/pizza.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Pizza 4 estações</p>
                    </div>
                    <div class="card_info">
                        <p>por Fabiana Melo</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/espaguete.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Espaguete ao alho</p>
                    </div>
                    <div class="card_info">
                        <p>por Júlia Kinoto</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/lasanha.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Lasanha mac n’ cheese</p>
                    </div>
                    <div class="card_info">
                        <p>por Juliano Vieira</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/doce.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Docinhos pão-do-céu</p>
                    </div>
                    <div class="card_info">
                        <p>por Ricardo Golvea</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/asinhas.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Asinhas de frango ao barbecue</p>
                    </div>
                    <div class="card_info">
                        <p>por Vania Steroski</p>
                    </div>

                </div>
            </section>

            <div class="modal-overlay active">
                <div class="modal">
                    <a class="close-modal">
                        <i class="material-icons">close</i>
                    </a>

                    <div class="modal-content">
                        conteudo das receitas
                    </div>
                </div>
            </div>
{% endblock %}