<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/recipe.css">
    <link rel="stylesheet" href="css/about.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Foody</title>
</head>

<body class="page-landing">
    <div class="container">
        <header>
            <img src="images/logo.png" alt="logo Foody">
            <nav class="links">
                <a href="index.html">Home</a>
                <a href="about.html">Sobre</a>
                <a href="recipe.html" id="recipe">Receitas</a>
            </nav>
        </header>

        <div class="cards_recipies">

            <section class="cards">

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/burger.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Triplo bacon burger</p>
                    </div>
                    <div class="card_info">
                        <p>por Jorge Relato</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/pizza.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Pizza 4 estações</p>
                    </div>
                    <div class="card_info">
                        <p>por Fabiana Melo</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/espaguete.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Espaguete ao alho</p>
                    </div>
                    <div class="card_info">
                        <p>por Júlia Kinoto</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/lasanha.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Lasanha mac n’ cheese</p>
                    </div>
                    <div class="card_info">
                        <p>por Juliano Vieira</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/doce.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Docinhos pão-do-céu</p>
                    </div>
                    <div class="card_info">
                        <p>por Ricardo Golvea</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/asinhas.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Asinhas de frango ao barbecue</p>
                    </div>
                    <div class="card_info">
                        <p>por Vania Steroski</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/burger.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Triplo bacon burger</p>
                    </div>
                    <div class="card_info">
                        <p>por Jorge Relato</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/pizza.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Pizza 4 estações</p>
                    </div>
                    <div class="card_info">
                        <p>por Fabiana Melo</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/espaguete.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Espaguete ao alho</p>
                    </div>
                    <div class="card_info">
                        <p>por Júlia Kinoto</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/lasanha.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Lasanha mac n’ cheese</p>
                    </div>
                    <div class="card_info">
                        <p>por Juliano Vieira</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/doce.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Docinhos pão-do-céu</p>
                    </div>
                    <div class="card_info">
                        <p>por Ricardo Golvea</p>
                    </div>

                </div>

                <div class="card">
                    <div class="card_image-container">
                        <img src="images/asinhas.png" alt="Triplo bacon burger">
                    </div>
                    <div class="card-content">
                        <p>Asinhas de frango ao barbecue</p>
                    </div>
                    <div class="card_info">
                        <p>por Vania Steroski</p>
                    </div>

                </div>
            </section>

            <div class="modal-overlay active">
                <div class="modal">
                    <a class="close-modal">
                        <i class="material-icons">close</i>
                    </a>

                    <div class="modal-content">
                        conteudo das receitas
                    </div>
                </div>
            </div>

            <footer class="footer-site">
                <p>Todos direitos reservados, receitas Foodfy. @ricardodomingosofficiel</p>
            </footer>

            <script src="scripts.js"></script>
        </div>
</body>

</html>