<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/recipe.css">
    <link rel="stylesheet" href="/about.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Foody</title>
</head>

<body class="page-landing">
    <div class="container">
        <header>
            <a href="/"><img src="/logo.png" alt="logo Foody" href="/"></a>
            <nav class="links">
                <a href="/about">Sobre</a>
                <a href="/recipe" id="recipe">Receitas</a>
            </nav>
        </header>

        <div class="cards_recipies">
        </div>

        <section class="cards">

            <div class="card">
                <div class="card_image-container">
                    <img src="/burger.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Triplo bacon burger</h4>
                </div>
                <div class="card_info">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/pizza.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Pizza 4 estações</h4>
                </div>
                <div class="card_info">
                    <p>por Fabiana Melo</p>
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/espaguete.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Espaguete ao alho</h4>
                </div>
                <div class="card_info">
                    <p>por Júlia Kinoto</p>
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/lasanha.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Lasanha mac n’ cheese</h4>
                </div>
                <div class="card_info">
                    <p>por Juliano Vieira</p>
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/doce.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Docinhos pão-do-céu</h4>
                </div>
                <div class="card_info">
                    <p>por Ricardo Golvea</p>
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/asinhas.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Asinhas de frango ao barbecue</h4>
                </div>
                <div class="card_info">
                    <p>por Vania Steroski</p>
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/burger.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Triplo bacon burger</h4>
                </div>
                <div class="card_info">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/pizza.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Pizza 4 estações</h4>
                </div>
                <div class="card_info">
                    <p>por Fabiana Melo</p>
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/espaguete.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Espaguete ao alho</h4>
                </div>
                <div class="card_info">
                    <p>por Júlia Kinoto</p>
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/lasanha.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Lasanha mac n’ cheese</h4>
                </div>
                <div class="card_info">
                    <p>por Juliano Vieira</p>
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/doce.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Docinhos pão-do-céu</h4>
                </div>
                <div class="card_info">
                    <p>por Ricardo Golvea</p>
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="/asinhas.png" alt="Triplo bacon burger" class="small_image">
                </div>
                <div class="card-content">
                    <h4>Asinhas de frango ao barbecue</h4>
                </div>
                <div class="card_info">
                    <p>por Vania Steroski</p>
                </div>

            </div>
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons"></i>Fechar modal</a>
                <div class="modal-content">
                    <img src="" alt="" id="modal_image" class="small-image-modal">

                    <h4 class="card_content"></h4>

                    <p class="card_info"></p>

                </div>
            </div>
        </div>

        <footer class="footer-site">
            <p>Todos direitos reservados, receitas Foodfy. @ricardodomingosofficiel</p>
        </footer>

        <script src="scripts.js"></script>

    </div>

</body>

</html>