.recipe {
    max-width: 900px;
    margin: auto;
}

.recipe-image-container {
    max-width: 900px;
}

.recipe-image-container img {
    border-radius: 15px;
    width: 100%;


}

.recipe-content {
    padding: 2rem 3.2rem;
    text-align: center;
    color: var(--color-secondary);
}

.recipe-content h1 {
    line-height: 4.2rem;
    font-size: 36px;
}

.recipe-content p {
    font-size: 20px;
    font-weight: 100;
    line-height: 22px;
    color:var(--color-secondary-text);
}

.recipe-info {
    margin: 1.5rem 0 4.2rem;
}

.topic-content {
    margin: 1.2rem 1.5rem;
    color:var(--color-secondary-text);
    line-height: 1.8rem;
    font-weight: 100;
}

.topic-content ul {
    margin-bottom: 3.2rem;
}

.topic-content ul li {
    color: var( --color-content-list);
    font-size: 18px;
    line-height: 28px;
    list-style-type: disc;
}

.recipe-ingredients {
    margin-bottom: 12px;
}

.recipe-ingredients h1, .span {
    display:inline-block;
}

.recipe-ingredients h1 {
    line-height:3.8rem;
    margin-right: 2rem;
    font-size: 24px;

}

.recipe-preparation {
    margin-bottom: 1.2rem;
}

.recipe-preparation h1, .span {
    display:inline-block;
}

.recipe-preparation h1 {
    color:var(--color-secondary);
    font-size: 24px;
    line-height: 38px;
    margin-right: 20px;
}

.recipe-information h1, .span {
    display: inline-block;
}

.recipe-information h1 {
    color: var(--color-secondary);
    font-size: 24px;
    line-height: 38px;
    margin-right: 20px;
}

.span {
    cursor: pointer;
    color:var(--color-span);
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    align-content: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}